<mat-list-item [ngClass]="{ reserved: pantryProduct.reserved }">
  <div
    class="product-container"
    [ngClass]="{ 'product-to-add-container': !isPantryProduct }"
  >
    <mat-checkbox
      (change)="checkboxClicked($event)"
      color="primary"
      [disabled]="!userService.userHasAuthority(authorityEnum.MODIFY)"
    ></mat-checkbox>

    <span>{{ pantryProduct.product.productName }}</span>
    <span>{{ pantryProduct.product.category | enumPrintFormatter }}</span>
    <span
      >{{ pantryProduct.quantity }}
      {{ printShortUnit(pantryProduct.quantity) }}</span
    >
    <span *ngIf="isPantryProduct"
      >{{ pantryProduct.reserved }}
      {{ printShortUnit(pantryProduct.reserved) }}</span
    >
    <span>{{ pantryProduct.placement | valueOrDash }}</span>
    <span>{{
      pantryProduct.expirationDate | dateFromString | valueOrDash
    }}</span>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngIf="
          isPantryProduct && userService.userHasAuthority(authorityEnum.RESERVE)
        "
        (click)="reserveButtonClicked()"
      >
        Reserve product
      </button>
      <button
        mat-menu-item
        *ngIf="
          isPantryProduct && userService.userHasAuthority(authorityEnum.RESERVE)
        "
        (click)="unreserveButtonClicked()"
      >
        Unreserve product
      </button>
      <button mat-menu-item (click)="showDetailsButtonClicked()">
        Show details
      </button>
      <button
        mat-menu-item
        (click)="editButtonClicked()"
        *ngIf="userService.userHasAuthority(authorityEnum.MODIFY)"
      >
        Edit pantry product
      </button>
    </mat-menu>
  </div>
</mat-list-item>

<mat-divider></mat-divider>
