<div id="insert-name-container">
  <p id="header">
    Create {{ (type | enumPrintFormatter).toLowerCase() }}
    <mat-icon>create</mat-icon>
  </p>

  <mat-form-field color="accent">
    <mat-label
      >{{ type | enumPrintFormatter }} name (3 to 30 characters)</mat-label
    >
    <input
      matInput
      [(ngModel)]="insertedName"
      [pattern]="regex"
      #name="ngModel"
    />
    <mat-hint *ngIf="name.valid"
      >{{ type | enumPrintFormatter }} name can only contain lowercases, capital
      letters, digits and whitespaces
    </mat-hint>
    <mat-error *ngIf="!name.valid"
      >{{ type | enumPrintFormatter }} name is incorrect</mat-error
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    id="create-button"
    (click)="emitValue(name)"
  >
    Create
  </button>
</div>
