<h1 mat-dialog-title>Insert your new {{ data.type.toLowerCase() }} name</h1>
<div mat-dialog-content id="content">
  <mat-form-field color="accent">
    <mat-label
      >{{ data.type.at(0) + data.type.slice(1).toLowerCase() }} name (3 to 30
      characters)</mat-label
    >
    <input
      matInput
      [(ngModel)]="newName"
      [pattern]="data.regex"
      #name="ngModel"
    />
    <mat-hint *ngIf="name.valid"
      >{{ data.type.at(0) + data.type.slice(1).toLowerCase() }} name can only
      contain lowercases, capital letters, digits and whitespaces</mat-hint
    >
    <mat-error *ngIf="!name.valid"
      >{{ data.type.at(0) + data.type.slice(1).toLowerCase() }} name is
      incorrect</mat-error
    >
  </mat-form-field>
</div>
<div mat-dialog-actions id="action-buttons">
  <button mat-button (click)="close()">Close</button>
  <button
    mat-raised-button
    (click)="changeName(name)"
    cdkFocusInitial
    color="primary"
  >
    Change {{ data.type.toLowerCase() }} name
  </button>
</div>
