@import "../../../assets/styles/mixins";
@import "../../../assets/styles/colors";

.container {
  @include flex-with-gap($direction: column, $gap: 16px);
  margin: auto;
  width: 370px;
  padding: 20px;

  .header {
    text-align: center;
    font-size: 26px;

    mat-icon {
      position: relative;
      top: 3px;
      color: $main-color;
    }
  }

  span {
    text-align: center;
  }

  button {
    font-size: 16px;
  }

  form {
    @include flex-with-gap($direction: column, $align: center, $gap: 10px);
    justify-content: center;
    width: 100%;

    mat-form-field {
      width: 100%;

      mat-hint {
        font-size: 12px;
      }

      mat-error {
        font-size: 12px;
      }
    }

    mat-radio-group {
      transform: translateX(-3%);
    }

    #registration-button {
      margin-top: 20px;
      width: 80%;
      font-size: 16px;
      font-weight: 500;
    }
  }

  #login-link-container {
    @include flex-with-gap($align: center, $gap: 10px);
    justify-content: center;
    padding: 0;

    p {
      margin: 0;
      font-size: 14px;
    }

    button {
      @extend p;
      background-color: transparent;
      border: none;
      position: relative;
      padding-left: 4px;
      cursor: pointer;
      color: $main-color;
      text-decoration: underline;
    }
  }
}
