@import "../../../../assets/styles/mixins";

#container {
  @include flex-with-gap($align: center);
  height: 70px;
  padding: 0 20px;
  justify-content: space-between;

  #logo-container {
    @include flex-with-gap($gap: 10px);
    cursor: pointer;

    img {
      height: 50px;
      width: auto;
    }

    p {
      font-family: "Agbalumo";
      margin: 0;
      font-size: 32px;
      font-weight: 500;
    }
  }

  #header-buttons {
    @include flex-with-gap($gap: 15px);

    button {
      padding: 20px;
      border-radius: 20px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
