<div id="container">
  <div id="logo-container">
    <img src="assets/img/logo.svg" alt="logo icon" />
    <p id="logo-name">Cookie</p>
  </div>

  <div id="header-buttons">
    <button mat-button routerLink="">Home</button>
    <ng-container *ngIf="!isLogged">
      <button mat-button routerLink="/login">Log in</button>
      <button mat-raised-button color="primary" routerLink="/registration">
        Sign in
      </button>
    </ng-container>
    <ng-container *ngIf="isLogged">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ "Hi, " + username }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Log out</button>
      </mat-menu>
    </ng-container>
  </div>
</div>
