<mat-card>
  <mat-card-content>
    <span id="name"
      >{{ type === "GROUP" ? "Group name: " : "Pantry name: " }}{{ name }}</span
    >
    <span>Creator's name: {{ creatorName }}</span>
    <span>Users: {{ nrOfUsers }}</span>
    <div id="buttons-container">
      <button mat-button>Go to pantry</button>
      <button
        mat-raised-button
        [routerLink]="(type === 'GROUP' ? '/groups/' : '/pantry/') + id"
      >
        Go to {{ type.toLowerCase() }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
