@import "../../../../assets/styles/mixins";

mat-card-content {
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;

  align-items: center;

  #name {
    font-size: 20px;
    font-weight: 500;
  }

  #buttons-container {
    justify-self: end;
    @include flex-with-gap($gap: 20px);

    button {
      width: 120px;
      font-weight: 600;
    }
  }
}
