// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$cookie-palette: (
  50: #fef8ea,
  100: #fcedcb,
  200: #fae1a9,
  300: #f8d487,
  400: #f7cb6d,
  500: #f5c253,
  600: #f4bc4c,
  700: #f2b442,
  800: #f0ac39,
  900: #ee9f29,
  A100: #ffffff,
  A200: #fffcf8,
  A400: #ffe7c5,
  A700: #ffdcac,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  ),
);

$cookie-blackpalette: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cookie_frontend-primary: mat.define-palette($cookie-palette);
$cookie_frontend-accent: mat.define-palette(
  $cookie-blackpalette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$cookie_frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cookie_frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $cookie_frontend-primary,
      accent: $cookie_frontend-accent,
      warn: $cookie_frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cookie_frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import "tippy.js/dist/tippy.css";

@font-face {
  font-family: "Agbalumo";
  src: url("../src/assets/fonts/Agbalumo-Regular.ttf");
}

html,
body {
  min-height: 100%;
  background: rgb(253, 245, 230);
  background: linear-gradient(
    148deg,
    rgba(253, 245, 230, 1) 0%,
    rgba(255, 236, 201, 1) 65%,
    rgba(255, 230, 184, 1) 96%
  );
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.expand-error {
  animation: bigger;
  animation-duration: 0.3s;
  margin-bottom: 17px;
}

@keyframes bigger {
  from {
    margin-bottom: 5px;
  }
  to {
    margin-bottom: 17px;
  }
}

.shrink-error {
  animation: smaller;
  animation-duration: 0.3s;
  margin-bottom: 5px;
}

@keyframes smaller {
  from {
    margin-bottom: 17px;
  }
  to {
    margin-bottom: 5px;
  }
}

.mat-datepicker-content {
  background: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); // angular's box shadow for datepicker

  // Removes the circles around the dates
  .mat-calendar-body-cell-content {
    border: none;

    // When date was hovered, this is what it will look like
    &:hover {
      background: map-get($cookie-palette, 300);
    }

    // When date was selected, this is what it will look like
    &.mat-calendar-body-selected {
      background: map-get($cookie-palette, 500);
      color: #fff;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
