<ng-container *ngIf="!createPantrySucceded; else successView">
  <app-insert-name
    [regex]="pantryNameRegex"
    type="PANTRY"
    (insertedNameEmitter)="createPantry($event)"
  ></app-insert-name>
</ng-container>

<ng-template #successView>
  <app-success-banner
    headerText="Congrats! "
    iconName="insert_emoticon"
    mainText="You have successfully created your pantry. Now you can view your pantry"
    buttonText="Go to pantry"
    routerLink="/pantry"
  ></app-success-banner>
</ng-template>
