<div id="container">
  <ng-container *ngIf="pantry.id && pantry.pantryName">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ pantry.pantryName }}
          </mat-panel-title>
          <mat-panel-description>
            Click to see pantry options
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button (click)="openChangePantryNameDialog()">
          Change pantry name
        </button>
        <button mat-button color="warn" (click)="openDeletePantryDialog()">
          Delete pantry
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>

  <app-pantry-products-list [pantry$]="pantry$"></app-pantry-products-list>
</div>
