#login-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  width: 330px;
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 30px -20px rgba(66, 68, 90, 1);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }

    #header {
      font-size: 26px;

      mat-icon {
        position: relative;
        top: 3px;
        color: #f2b442;
      }
    }

    #error-message {
      color: #f44336;
    }

    #login-button {
      margin-top: 20px;
      width: 80%;
      font-size: 16px;
      font-weight: 500;
    }
  }

  #registration-link-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
      font-size: 14px;
    }

    button {
      @extend p;
      background-color: transparent;
      border: none;
      position: relative;
      padding-left: 4px;
      cursor: pointer;
      color: #f2b442;
      text-decoration: underline;
    }
  }
}
