@import "../../../../../assets/styles/mixins";

.transform-button-position {
  position: relative;
  bottom: 8px;
}

#container {
  @include flex-with-gap($direction: column, $gap: 20px);

  mat-panel-title {
    font-size: 26px;
  }

  .action-container {
    @include flex-with-gap($align: center);
    justify-content: space-between;
    padding-bottom: 12px;

    #remove-button {
      @extend .transform-button-position;
    }

    #add-remove-buttons-container {
      @include flex-with-gap($gap: 8px);

      #show-add-products-button {
        @extend .transform-button-position;
      }
    }

    form {
      @include flex-with-gap($gap: 15px);
      flex-wrap: wrap;
      align-items: center;

      mat-hint {
        font-size: 12px;
      }

      mat-error {
        font-size: 12px;
      }

      button {
        @extend .transform-button-position;
      }
    }
  }

  .first-action-container {
    padding-bottom: 28px;
  }

  mat-card {
    @include flex-with-gap($direction: row, $align: center, $gap: 10px);
    justify-content: center;

    mat-card-content {
      width: 100%;
      padding: 0;

      #add-products-container {
        width: 100%;

        .product-container {
          display: grid;
          grid-template-columns:
            5% 20% repeat(2, minmax(calc((100% - 30%) / 2), 1fr))
            5%;
          grid-template-rows: 1fr;
          align-items: center;
        }
      }

      #pantry-products-container {
        width: 100%;

        .product-container {
          display: grid;
          grid-template-columns:
            5% 20% repeat(3, minmax(calc((100% - 30%) / 3), 1fr))
            5%;
          grid-template-rows: 1fr;
          align-items: center;
        }
      }

      .empty-product-list-container {
        text-align: center;
      }

      mat-list {
        padding: 0;

        mat-list-item {
          height: 56px;

          * {
            padding: 5px;
            text-wrap: wrap;
            word-wrap: break-word;
          }
        }

        :hover {
          background-color: darken($color: white, $amount: 4);
        }
      }
    }
  }

  #add-products-action-buttons {
    margin-top: 10px;
    @include flex-with-gap($direction: row, $align: center, $gap: 10px);
    justify-content: space-between;

    #close-send-buttons-container {
      @include flex-with-gap($gap: 8px);
      justify-content: flex-end;
    }
  }
}
