@import "../../../../assets/styles/mixins";

#action-container {
  @include flex-with-gap($align: center);
  justify-content: space-between;

  #remove-button {
    position: relative;
    bottom: 8px;
  }

  form {
    @include flex-with-gap($gap: 15px);

    align-items: center;

    button {
      @extend #remove-button;
    }
  }
}

mat-card {
  @include flex-with-gap($direction: row, $align: center, $gap: 10px);
  justify-content: center;

  mat-card-content {
    width: 100%;
    padding: 0;

    #create-pantry-container {
      @include flex-with-gap($direction: row, $align: center, $gap: 10px);
      justify-content: center;
      align-items: center;
      height: calc(100vh - 70px - 60px);
    }

    #empty-pantry-container {
      text-align: center;
    }

    #pantry-products-container {
      width: 100%;

      mat-list {
        padding: 0;

        mat-list-item {
          height: 56px;

          .product-container {
            display: grid;
            grid-template-columns:
              5% 20% repeat(4, minmax(calc((100% - 30%) / 4), 1fr))
              5%;
            grid-template-rows: 1fr;
            align-items: center;
          }

          * {
            padding: 5px;
            text-wrap: wrap;
            word-wrap: break-word;
          }
        }

        :hover {
          background-color: darken($color: white, $amount: 4);
        }
      }
    }
  }
}
