<mat-form-field color="accent">
  <mat-label>Filter</mat-label>
  <input type="text" matInput />
</mat-form-field>

<mat-card>
  <mat-card-content>
    <div
      id="create-pantry-container"
      *ngIf="pantry && !pantry.id && !pantry.pantryName"
    >
      <p>You don't have a pantry yet</p>
      <button mat-raised-button color="primary" routerLink="/pantry/create">
        Create new pantry
      </button>
    </div>

    <div
      id="pantry-products-container"
      *ngIf="pantry && pantry.id && pantry.pantryName"
    >
      <mat-list role="list">
        <mat-list-item>
          <div class="product-container">
            <span class="example-margin-header">Select</span>
            <span class="product-name">Product</span>
            <span class="product-category">Category</span>
            <span class="product-category">Quantity</span>
            <span class="expiration-date">Expiration date</span>
            <span class="expiration-date">Edit</span>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <ng-container *ngFor="let product of products">
          <mat-list-item>
            <div class="product-container">
              <mat-checkbox
                class="example-margin"
                color="primary"
              ></mat-checkbox>
              <span class="product-name">{{ product.productName }}</span>
              <span class="product-category">{{
                product.category | firstCapital
              }}</span>
              <span class="product-category">{{ product.quantity }}</span>
              <span class="expiration-date">{{
                product.expirationDate | dateFromString
              }}</span>
              <button mat-button><mat-icon>edit</mat-icon></button>
            </div>
          </mat-list-item>

          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
      <mat-paginator
        [length]="totalElements"
        [pageSize]="page_size"
        aria-label="Select page"
        (page)="pageChange($event)"
        color="accent"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
