<mat-list-item [ngClass]="{ purchased: listProduct.purchased }">
  <div
    class="product-container"
    [ngClass]="{ 'product-to-add-container': !isShoppingListProduct }"
  >
    <mat-checkbox
      (change)="checkboxClicked($event)"
      color="primary"
      [disabled]="
        !userService.userHasAuthority(authorityEnum.MODIFY_SHOPPING_LIST)
      "
    ></mat-checkbox>

    <span>{{ listProduct.productName }}</span>
    <span>{{ listProduct.category | enumPrintFormatter }}</span>
    <span
      >{{ listProduct.quantity }}
      {{ printShortUnit(listProduct.quantity) }}</span
    >
    <span *ngIf="isShoppingListProduct">{{
      listProduct.purchased ? "Yes" : "No"
    }}</span>

    <button
      mat-button
      [matMenuTriggerFor]="menu"
      *ngIf="userService.userHasAuthority(authorityEnum.MODIFY_SHOPPING_LIST)"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editButtonClicked()">
        Edit list product
      </button>
    </mat-menu>
  </div>
</mat-list-item>

<mat-divider></mat-divider>
