<mat-card (click)="goToRecipeDetails()">
  <div id="image-container">
    <img
      [src]="recipeImage ? recipeImage : '../../../../assets/img/noimage.svg'"
      alt="no image"
    />
  </div>

  <div id="info-container">
    <div class="header-and-value-container spanned-columns">
      <p>Recipe name:&nbsp;</p>
      <p>{{ recipe.recipeName }}</p>
    </div>

    <mat-divider></mat-divider>

    <div class="header-and-value-container spanned-columns">
      <p>Meal type:&nbsp;</p>
      <p>{{ recipe.mealType | enumPrintFormatter }}</p>
    </div>

    <mat-divider></mat-divider>

    <div class="header-and-value-container spanned-columns">
      <p>Cuisine:&nbsp;</p>
      <p>{{ recipe.cuisine | valueOrDash }}</p>
    </div>

    <mat-divider></mat-divider>

    <div class="header-and-value-container">
      <p>Preparation Time:&nbsp;</p>
      <p>{{ recipe.preparationTime | minutesToHours }}</p>
    </div>
    <div class="header-and-value-container">
      <p>Portions:&nbsp;</p>
      <p>{{ recipe.portions }}</p>
    </div>

    <mat-divider></mat-divider>

    <div class="header-and-value-container">
      <p>Nr of ingredients:&nbsp;</p>
      <p>{{ recipe.nrOfProducts }}</p>
    </div>
    <div class="header-and-value-container">
      <p>Creator:&nbsp;</p>
      <p>{{ recipe.creatorUserName }}</p>
    </div>
  </div>
</mat-card>
