@mixin flex-with-gap($direction: row, $align: normal, $gap: 0px) {
  display: flex;
  @if $align != normal {
    align-items: $align;
  }
  @if $direction == column {
    flex-direction: column;
  }
  gap: $gap;
}
