@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/colors";

.header-and-value-container {
  @include flex-with-gap($direction: column, $gap: 5px);

  & > p {
    margin: 0px;
    word-break: break-all;
  }

  & > *:nth-child(2) {
    font-weight: 500;
  }
}

.bolded-text {
  font-size: 18px;
  font-weight: 500;
}

mat-card {
  margin: auto;
  width: 80%;
  padding: 30px 30px;

  #upper-container {
    @include flex-with-gap($gap: 15px);

    #image-upload-container {
      @include flex-with-gap($direction: column, $gap: 10px, $align: center);

      img {
        width: 350px;
        height: auto;
      }

      #image-error {
        margin: 0;
        color: $error-color;
      }

      #image-buttons {
        @include flex-with-gap($gap: 10px);
      }
    }

    #recipe-data-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;

      .header-and-value-container {
        padding: 5px;
        min-height: 50%;

        & > *:first-child {
          font-size: 14px;
        }
      }

      .main-info {
        & > *:first-child {
          font-size: 18px;
        }
      }
    }

    #action-buttons {
      @include flex-with-gap;
      justify-content: flex-end;

      button {
        width: 50px !important;
        min-width: unset !important;

        mat-icon {
          height: auto;
          width: auto;
          margin-right: 0;
          font-size: 25px;
        }
      }
    }
  }

  #lower-container {
    @include flex-with-gap($direction: column, $gap: 30px);
    padding: 20px 30px;

    #add-ingredients-header {
      @extend .bolded-text;
      margin-bottom: 10px;
    }

    form {
      @include flex-with-gap($align: center, $gap: 10px);

      button {
        position: relative;
        bottom: 8px;
      }
    }

    .bolded-text {
      font-weight: 500;
    }

    #lower-container-header {
      font-size: 20px;
      margin: 6px 0px;
    }

    #products-and-preparation-container {
      @include flex-with-gap($gap: 30px);

      #products-list-container {
        width: 25%;

        .product-container {
          @include flex-with-gap($direction: column, $gap: 10px);
          padding-bottom: 10px;

          span {
            @include flex-with-gap($align: center);
            justify-content: space-between;

            button {
              width: 40px !important;
              min-width: unset !important;

              mat-icon {
                height: auto;
                width: auto;
                margin-right: 0;
                font-size: 25px;
              }
            }

            &:hover {
              background-color: darken($color: white, $amount: 5);
              cursor: pointer;
            }
          }
        }
      }

      #preparation-container {
        width: 75%;

        mat-form-field {
          width: 100%;
        }
      }
    }
  }

  button {
    float: right;
  }
}
