<mat-card>
  <p id="header">Search <mat-icon>search</mat-icon></p>

  <form [formGroup]="filterForm" (submit)="formSubmitted()">
    <mat-form-field color="accent">
      <mat-label>Filter</mat-label>
      <input type="text" matInput formControlName="filterValue" />
      <mat-hint>Recipe name or cuisine</mat-hint>
    </mat-form-field>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title> Max. preparation time </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group color="primary" formControlName="prepTime">
          <mat-radio-button
            *ngFor="let prepTime of prepTimes"
            [value]="prepTime.value"
          >
            {{ prepTime.name }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title> Portions </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group color="primary" formControlName="portions">
          <mat-radio-button *ngFor="let portion of portions" [value]="portion">
            {{ portion }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-form-field color="accent">
      <mat-label>Sort by</mat-label>
      <mat-select formControlName="sortColName">
        <mat-option
          *ngFor="let columnName of sortColumnNames"
          [value]="columnName.value"
          >{{ columnName.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Sort direction</mat-label>
      <mat-select formControlName="SortDirection">
        <mat-option
          *ngFor="let sortDireciton of sortDirections"
          [value]="sortDireciton.value"
          >{{ sortDireciton.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button mat-button id="reset-button" (click)="resetFilters()">
      Reset filters
    </button>
    <button mat-raised-button color="primary">Search</button>
  </form>
</mat-card>
