<div id="container">
  <ng-container>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ shoppingList.listName }}
          </mat-panel-title>
          <mat-panel-description
            *ngIf="
              userService.userHasAuthority(authorityEnum.MODIFY_SHOPPING_LIST)
            "
          >
            Click to see shopping list options
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button
          mat-button
          *ngIf="
            userService.userHasAuthority(authorityEnum.MODIFY_SHOPPING_LIST)
          "
          (click)="openChangeListNameDialog()"
        >
          Change shopping list name
        </button>
        <button
          mat-button
          color="warn"
          *ngIf="
            userService.userHasAuthority(authorityEnum.MODIFY_SHOPPING_LIST)
          "
          (click)="openDeletePantryDialog()"
        >
          Delete shopping list
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
