<mat-list-item [ngClass]="{ reserved: pantryProduct.reserved }">
  <div class="product-container">
    <mat-checkbox
      (change)="checkboxClicked($event)"
      color="primary"
    ></mat-checkbox>

    <span>{{ pantryProduct.productName }}</span>
    <span>{{ pantryProduct.category | enumPrintFormatter }}</span>
    <span
      >{{ pantryProduct.quantity }}
      {{ printShortUnit(pantryProduct.quantity) }}</span
    >
    <span
      >{{ pantryProduct.reserved }}
      {{ printShortUnit(pantryProduct.reserved) }}</span
    >
    <span>{{ pantryProduct.placement | valueOrDash }}</span>
    <span>{{
      pantryProduct.expirationDate | dateFromString | valueOrDash
    }}</span>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="reserveButtonClicked()">
        Reserve product
      </button>
      <button mat-menu-item (click)="unreserveButtonClicked()">
        Unreserve product
      </button>
      <button mat-menu-item (click)="showDetailsButtonClicked()">
        Show details
      </button>
      <button mat-menu-item (click)="editButtonClicked()">
        Edit pantry product
      </button>
    </mat-menu>
  </div>
</mat-list-item>

<mat-divider></mat-divider>
