@import "../../../assets/styles/mixins";
@import "../../../assets/styles/colors";

#main-container {
  // width: 70%;
  margin: auto;

  #upper-container {
    @include flex-with-gap;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 500;
    }

    mat-icon {
      color: $dark-main-color;
      transform: scale(1.5);
    }

    button {
      font-weight: 600;
    }
  }

  #lower-container {
    @include flex-with-gap($gap: 20px);

    mat-card {
      padding: 20px 16px;
      width: calc(100% - 370px);
    }
  }
}
