<h1 mat-dialog-title>Edit ingredient</h1>
<div mat-dialog-content id="content">
  <form [formGroup]="editForm" (ngSubmit)="submit()">
    <div class="details-container">
      <span>Product name: </span>
      <span>{{ ingredient.productName }}</span>
    </div>

    <div class="details-container">
      <span>Category: </span>
      <span>{{ ingredient.category | enumPrintFormatter }}</span>
    </div>

    <mat-form-field color="accent">
      <mat-label>Quantity</mat-label>
      <input type="text" matInput formControlName="quantity" required />
      <mat-hint>Must be greater than 0</mat-hint>
      <mat-error *ngIf="!editForm.controls['quantity'].valid">
        {{ getErrorMessage(editForm.controls["quantity"]) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Choose units</mat-label>
      <mat-select formControlName="unit" required>
        <mat-option *ngFor="let unit of units" [value]="unit">{{
          unit | enumPrintFormatter
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" style="display: none"></button>
  </form>
</div>

<div mat-dialog-actions id="action-buttons">
  <button mat-button (click)="close()">Close</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="submit()">
    Save pantry product
  </button>
</div>
