<div id="container">
  <div id="return-container" *ngIf="showReturnToMeals">
    <button mat-button id="return-button" (click)="returnToMeals()">
      <mat-icon>undo</mat-icon> Return to meals
    </button>
  </div>

  <mat-card>
    <div id="upper-container">
      <img
        [src]="recipeImage ? recipeImage : '../../../../assets/img/noimage.svg'"
        alt="no image"
      />

      <div id="recipe-data-container">
        <div class="header-and-value-container main-info">
          <p>Recipe name:&nbsp;</p>
          <p>{{ recipeDetails?.recipeName }}</p>
        </div>

        <div class="header-and-value-container main-info">
          <p>Meal type:&nbsp;</p>
          <p>{{ recipeDetails?.mealType | enumPrintFormatter }}</p>
        </div>

        <div class="header-and-value-container main-info">
          <p>Cuisine:&nbsp;</p>
          <p>{{ recipeDetails?.cuisine | valueOrDash }}</p>
        </div>

        <div class="header-and-value-container">
          <p>Preparation time :&nbsp;</p>
          <p>{{ recipeDetails?.preparationTime | minutesToHours }}</p>
        </div>

        <div class="header-and-value-container">
          <p>Portions :&nbsp;</p>
          <p>{{ recipeDetails?.portions }}</p>
        </div>

        <div class="header-and-value-container">
          <p>Author :&nbsp;</p>
          <p>{{ recipeDetails?.creatorName }}</p>
        </div>
      </div>

      <div id="action-buttons" *ngIf="canUserModifyRecipe()">
        <button mat-button (click)="editRecipe()">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="deleteRecipe()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div id="lower-container">
      <div id="products-list-container">
        <p id="lower-container-header">Ingredients:</p>
        <div
          *ngFor="let recipeProduct of recipeDetails?.products"
          class="product-container bolded-text"
        >
          <span
            >{{ recipeProduct.quantity }} {{ printShortUnit(recipeProduct) }} of
            {{
              recipeProduct.product.productName +
                " (" +
                (recipeProduct.product.category | enumPrintFormatter) +
                ")"
            }}</span
          >
          <mat-divider></mat-divider>
        </div>
      </div>

      <div id="preparation-container">
        <p id="lower-container-header">Preparation:</p>
        <span class="bolded-text">{{ recipeDetails?.preparation }}</span>
      </div>
    </div>

    <div id="schedule-container" *ngIf="userService.isUserLogged()">
      <button mat-raised-button (click)="scheduleMeal()">
        Schedule a meal
      </button>
    </div>
  </mat-card>
</div>
