@import "../../../../assets/styles/mixins";

mat-card {
  margin: auto;
  width: 80%;
  padding: 30px 30px;

  #upper-container {
    @include flex-with-gap($gap: 15px);

    img {
      width: 350px;
      height: auto;
    }

    #recipe-data-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;

      .header-and-value-container {
        padding: 5px;
        min-height: 50%;

        & > *:first-child {
          font-size: 14px;
        }

        & > *:nth-child(2) {
          font-size: 18px;
        }
      }

      .main-info {
        & > *:first-child {
          font-size: 18px;
        }

        & > *:nth-child(2) {
          font-size: 22px;
        }
      }
    }

    #action-buttons {
      @include flex-with-gap;
      justify-content: flex-end;

      button {
        width: 50px !important;
        min-width: unset !important;

        mat-icon {
          height: auto;
          width: auto;
          margin-right: 0;
          font-size: 25px;
        }
      }
    }
  }

  #lower-container {
    @include flex-with-gap($gap: 30px);
    padding: 20px 30px;

    .bolded-text {
      font-weight: 500;
    }

    #lower-container-header {
      font-size: 20px;
      margin: 6px 0px;
    }

    #products-list-container {
      width: 25%;

      .product-container {
        @include flex-with-gap($direction: column, $gap: 10px);
        padding-bottom: 10px;
      }
    }

    #preparation-container {
      width: 75%;
    }
  }
}

.header-and-value-container {
  @include flex-with-gap($direction: column, $gap: 5px);

  & > p {
    margin: 0px;
    word-break: break-all;
  }

  & > *:nth-child(2) {
    font-weight: 500;
  }
}

.bolded-text {
  font-size: 18px;
  font-weight: 500;
}
