@import "../../../assets/styles/mixins";

#container {
  @include flex-with-gap($direction: column, $gap: 20px);
  height: 100%;
  // height: auto;
  min-height: calc(100vh - 70px - 60px);

  mat-panel-title {
    font-size: 32px;
  }
}
