<div id="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ pantry.pantryName }}
        </mat-panel-title>
        <!-- <mat-panel-description>
          This is a summary of the content
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <button mat-button (click)="openChangePantryNameDialog()">
        Change pantry name
      </button>
      <button mat-button color="warn">Delete pantry</button>
    </mat-expansion-panel>
  </mat-accordion>
  <div id="table-container"></div>
</div>
