<mat-card>
  <mat-card-content>
    <div id="upper-container">
      <span>Group name: {{ group?.groupName }}</span>

      <div class="action-buttons">
        <button mat-button (click)="openChangeGroupNamePopup()">
          Change group name
        </button>
        <button mat-button color="warn" (click)="openDeleteGroupPopup()">
          Delete group
        </button>
        <button mat-raised-button color="primary" (click)="openAddUserPopup()">
          Add user
        </button>
      </div>
    </div>

    <span id="users-header">Users:</span>
    <mat-list role="list">
      <ng-container *ngFor="let user of group?.users; index as i">
        <mat-list-item>
          <div class="user-container">
            <span>{{ user.username }}</span>

            <div class="action-buttons">
              <button
                mat-raised-button
                color="warn"
                (click)="openRemoveUserPopup(user)"
              >
                Remove user
              </button>
            </div>
          </div>
        </mat-list-item>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Authorities </mat-panel-title>
              <mat-panel-description>
                Click to see authorities
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="add-authority-container">
              <form [formGroup]="addAuthorityForm">
                <mat-form-field color="accent">
                  <mat-label>Add authority</mat-label>
                  <mat-select formControlName="authority" required>
                    <mat-option
                      *ngFor="
                        let authority of possibleAuthoritiesToAdd(
                          user.authorities
                        )
                      "
                      [value]="authority"
                      >{{ authority }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <button
                  mat-raised-button
                  color="primary"
                  (click)="submitAddAuthority(user.id)"
                >
                  Add authority
                </button>
              </form>
            </div>

            <div class="authorities-container">
              <div
                class="authority-container"
                *ngFor="let authority of user.authorities"
              >
                <mat-checkbox
                  color="primary"
                  (change)="checkboxClicked($event, authority)"
                ></mat-checkbox>
                <span> {{ authority.authority }} </span>
              </div>
            </div>
            <button
              mat-button
              color="warn"
              class="remove-authorities-button"
              (click)="removeAuthorities(user.id)"
            >
              Remove authorities
            </button>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-divider
          *ngIf="
            group && group.users && group.users.length
              ? i < group.users.length - 1
              : false
          "
        ></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
