<mat-card>
  <mat-card-content>
    <div id="upper-container">
      <span>Group name: {{ group?.groupName }}</span>

      <div class="action-buttons">
        <button
          mat-button
          (click)="openChangeGroupNamePopup()"
          *ngIf="userService.userHasAuthority(authorityEnum.MODIFY_GROUP)"
        >
          Change group name
        </button>
        <button
          mat-button
          color="warn"
          (click)="openDeleteGroupPopup()"
          *ngIf="userService.userHasAuthority(authorityEnum.MODIFY_GROUP)"
        >
          Delete group
        </button>
        <button
          mat-raised-button
          [color]="group?.pantryId ? 'primary' : ''"
          color="primary"
          (click)="openAddUserPopup()"
          *ngIf="userService.userHasAuthority(authorityEnum.ADD_TO_GROUP)"
        >
          Add user
        </button>
      </div>
    </div>

    <span class="section-header">Users:</span>
    <mat-list role="list">
      <div class="user-container" *ngFor="let user of group?.users; index as i">
        <mat-list-item>
          <div class="user-info-container">
            <span>{{ user.username }}</span>

            <div class="action-buttons">
              <button
                mat-raised-button
                color="warn"
                (click)="openRemoveUserPopup(user)"
                *ngIf="userService.userHasAuthority(authorityEnum.MODIFY_GROUP)"
              >
                Remove user
              </button>
            </div>
          </div>
        </mat-list-item>

        <mat-accordion
          *ngIf="userService.userHasAuthority(authorityEnum.MODIFY_GROUP)"
        >
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title> Authorities </mat-panel-title>
              <mat-panel-description>
                Click to see authorities
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="add-authority-container">
              <form [formGroup]="addAuthorityForm">
                <mat-form-field color="accent">
                  <mat-label>Add authority</mat-label>
                  <mat-select formControlName="authority" required>
                    <mat-option
                      *ngFor="
                        let authority of possibleAuthoritiesToAdd(
                          user.authorities
                        )
                      "
                      [value]="authority"
                      >{{ authority }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>

                <button
                  mat-raised-button
                  color="primary"
                  (click)="submitAddAuthority(user.id)"
                >
                  Add authority
                </button>
              </form>
            </div>

            <div class="authorities-container">
              <div
                class="authority-container"
                *ngFor="let authority of user.authorities"
              >
                <mat-checkbox
                  color="primary"
                  (change)="checkboxClicked($event, authority)"
                ></mat-checkbox>
                <span> {{ authority.authority }} </span>
              </div>
            </div>
            <button
              mat-button
              color="warn"
              class="remove-authorities-button"
              (click)="removeAuthorities(user.id)"
            >
              Remove authorities
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-list>

    <span class="section-header">Pantry:</span>
    <mat-card>
      <mat-card-content>
        <div id="pantry-container" *ngIf="group?.pantryId">
          <span>Pantry name: {{ group?.pantryName }}</span>
          <button mat-button [routerLink]="'/pantries/' + group?.pantryId">
            Go to pantry
          </button>
        </div>

        <div id="create-pantry-container" *ngIf="!group?.pantryId">
          <span>Group doesn't have pantry</span>
          <button
            mat-raised-button
            routerLink="/pantries/create"
            [queryParams]="{ groupId: group?.id }"
            color="primary"
            *ngIf="userService.userHasAuthority(authorityEnum.MODIFY_PANTRY)"
          >
            Create pantry
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
