<div>
  <div id="text-container">
    <div id="text-inner-container">
      <p>Hi, stranger &#9995;</p>
      <span
        >Welcome to the app where you become a real cookie by exploring multiple
        recipes, planning meals and managing your household pantry and shopping
        lists.
      </span>
      <button mat-raised-button color="primary" routerLink="/registration">
        Start your journey
      </button>
    </div>
  </div>
  <div id="logo-container">
    <img src="../../../assets/img/logo.svg" alt="cookie logo" />
    <p id="logo-name">Cookie</p>
  </div>
</div>
