@import "../../../assets/styles/mixins";
@import "../../../assets/styles/colors";

#main-container {
  @include flex-with-gap($direction: column, $gap: 20px);

  #upper-container {
    @include flex-with-gap;
    justify-content: space-between;

    h1 {
      @include flex-with-gap($align: center, $gap: 10px);
      font-weight: 500;
      margin: 0;

      img {
        height: 36px;
      }
    }
  }

  #recipes-container {
    @include flex-with-gap($gap: 40px);
    margin-top: 40px;

    *:first-child {
      width: 20%;
    }

    *:nth-child(2) {
      width: 80%;
    }
  }
}

::ng-deep .mdc-tab.mdc-tab {
  background-color: white !important;
  color: black;
  font-weight: 500;
}

::ng-deep .mdc-tab.mdc-tab:hover {
  background-color: darken($color: white, $amount: 3) !important;
}
