<div id="main-container">
  <div id="return-container" *ngIf="showReturnToMeals">
    <button mat-button id="return-button" (click)="returnToMeals()">
      <mat-icon>undo</mat-icon> Return to meals
    </button>
  </div>

  <div id="upper-container">
    <h1>
      <img src="../../../assets/img/recipes.svg" alt="fridge icon" />Recipes
    </h1>
    <button
      mat-raised-button
      *ngIf="isUserLogged()"
      (click)="goToCreateRecipe()"
    >
      Create recipe
    </button>
  </div>

  <div id="tabs-container">
    <div id="recipes-container" *ngIf="!isUserLogged()">
      <app-recipes-side-panel
        (filterRequest)="allRecipes.getRecipes($event)"
      ></app-recipes-side-panel>
      <app-recipes-list
        #allRecipes
        [getRecipesClient]="getAllRecipesClient"
        [mealPlanning]="showReturnToMeals"
      ></app-recipes-list>
    </div>

    <mat-tab-group *ngIf="isUserLogged()">
      <mat-tab label="All recipes">
        <div id="recipes-container">
          <app-recipes-side-panel
            (filterRequest)="allRecipes.getRecipes($event)"
          ></app-recipes-side-panel>

          <app-recipes-list
            #allRecipes
            [getRecipesClient]="getAllRecipesClient"
            [mealPlanning]="showReturnToMeals"
          ></app-recipes-list>
        </div>
      </mat-tab>

      <mat-tab label="Your recipes">
        <div id="recipes-container">
          <app-recipes-side-panel
            (filterRequest)="yourRecipes.getRecipes($event)"
          ></app-recipes-side-panel>

          <app-recipes-list
            #yourRecipes
            [getRecipesClient]="getUserRecipesClient"
            [mealPlanning]="showReturnToMeals"
          ></app-recipes-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
